:root {
  /* languages */
  --html: #EF6026;
  --css: #25A1E1;
  --js: #F7DF1E;
  --md: white;

  /* libraries/frameworks */
  --react: #61dafb;
}

[class*='language-']:before {
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
  color: #1e1e1e;
}

.language-html:before {
  background: var(--html);
}

.language-css:before {
  background: var(--css);
}

.language-js:before {
  background: var(--js);
}

.language-md:before {
  background: var(--md);
}
